h1{
    color: rgb(255, 102, 0);
}
p{
    color: rgb(25, 136, 136);
}
h1{
    background-color: black;
}
button{
    color: brown;
    background-color: rgb(91, 21, 156);
}
body{
    background-color: chartreuse;
}